<h3>Nova Categoria</h3>
<div class="card shadow rounded-top">
    <div class="card-body">
        <form action="/admin/categorias/nova" method="post">
            <label for="nome">Nome </label>
            <input type="text" id="nome"  name="nome" placeholder="Nome Da Categoria" class="form-control">
            <br>
            <label for="slug">slug </label>
            <input type="text" id="slug" name="slug" placeholder="Slug Da Categoria" class="form-control">
            <br>
            <button type="submit" class="btn btn-success">Adicionar</button>
        </form>
    </div>
</div>