<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Blog Feito Em NodeJS</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/categorias">Categorias</a>
        </li>
      </ul>

    <div class="navbar-nav ms-auto" id="nav-links">
      {{#if user}}
        {{#unless eAdmin:1}}
          <li class="nav-item">
            <a href="/admin/categorias" class="nav-link active">addCategorias</a>
          </li>
          <li class="nav-item active">
            <a href="/admin/postagem" class="nav-link active">addPostagens</a>
          </li>
          <li class="nav-item">
            <a href="/admin/crud" class="nav-link">Crud</a>
          </li>
        <li class="nav-item">
          <span class="nav-link">Usuario: {{user.nome}}</span>
        </li>
          <li class="nav-item">
            <a href="/usuarios/logout" class="nav-link active">Sair</a>
          </li>
        {{else}}
        <li class="nav-item">
          <span class="nav-link">Usuario: {{user.nome}}</span>
        </li>
        <li class="nav-item">
            <a href="/usuarios/logout" class="nav-link active">Sair</a>
        </li>
        {{/unless}}
      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="usuarios/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="usuarios/registro">Registrar</a>
        </li>
      {{/if}}

    </div>
    </div>
  </div>
</nav>

