{{#each categorias}}
<div class="mt-2">
<ul class="list-group">
  <a href="/categorias/{{slug}}" class="text-decoration-none">
    <li class="list-group-item list-group-item-action  border-0 ">{{nome}}</li>
  </a>
</ul>

{{else}}

{{/each}}
</div>
