<div class="card mt-3">
    <div class="card-body">
        <h1>{{postagem.titulo}}</h1>
        <small class="text-muted">Data de Publicação: {{postagem.dataFormatada}}</small>
        <hr>
        <div class="text-left mw-100 mx-auto" style="white-space: pre-wrap; text-indent: 0;">
{{postagem.conteudo}}
        </div>
    </div>
</div>
