<div class="card mt-3">
    <div class="card-body">
        <h1>{{postagem.titulo}}</h1>
        <small class="text-muted">Data de Publicação: {{postagem.dataFormatada}}</small>
        <hr>
        {{postagem.conteudo}}
    </div>
</div>
